@{
    ViewBag.Title = "About";
}

<h4 class="space">Name: Aeryn (Erin) Burgess (Burrgiss)</h4>
<h4 class="space">Age: 22 years</h4>
<h4 class="space">Hometown: Wilmot</h4>
<img src="~/Pictures/AboutPic.jpg" width="300" height="300"/>
<p id="move-over">I started coding when I was a Junior in highschool. I was running out of ideas and I wanted to do something to be proud of. I wanted to be a singer since the age of five. However, the more I looked into it the more scared I got of being something I wasn't. I am a caring individual who wants to help others make a difference in this world. While singing might reach the hearts and minds of others. I felt like I could do something more. Technology was rapidly growing, so I turned towards the web and software developer community. I wasn't fully invested in it at first. A lot of people I met in that community knew more than me and I was kind of hesistant to keep going. However, once I kept going I realized this coding stuff might actually be cool. Im able to make creative designs as well as keep up with the latest technolgies. So this became my calling from that day forward. I went to Gateway Technical College for about 4 years. I recieved two Associate Degrees.
Web Developer A.A.S and Web Software Developer A.A.S.
I hope to work with you soon.</p>

