@{
    ViewBag.Title = "Contact";
}
<h4>Contact Me!</h4>
<address>
    31110 114th St<br />
    Twin Lakes, WI 53181<br />
    <abbr title="Phone">P:</abbr>
    262-757-1675
</address>

<address>
    <strong>Out of Office</strong>   <a href="mailto:iloveyoutwoforreal@gmail.com">iloveyoutwoforreal@gmail.com</a><br />
    <strong>In Office</strong> <a href="mailto:aerynburgess@gmail.com">aerynburgess@gmail.com</a>
</address>