@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/Move.js"></script>
<div class="jquery">
    <div class="jumbotron">
        <h1>Aeryn Burgess</h1>
        <p class="lead"> Web Software Developer.</p>

        <p>Want to Make a Website, or start your business? Im here to help</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            There is a huge demand for websites these days. Especially if you are starting a business. A lot of companies have been making things easier by having you use their website to make websites with easier technolgies, but you always need someone to upgrade and update your site. Updating a debugging problems is key for your business and sometimes you need someone else to take charge.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Past Projects</h2>
        <p>Ive been coding for 4 years, I have an Associates Degree in Computer Science and I love to help. Please feel free to check out my projects and I hope I can work with you as well.</p>
        <a class="btn btn-default" href="~/Home/PastProjects">Click Me</a>
    </div>
    <div class="col-md-4">
        <h2>Create an Account</h2>
        <p>By Clicking the Register Button above you will be able to Create an Account</p>
        <p>Once you are logged in, you will have access to your password and Personal Bio. I want to get to know you so I can expand your bussiness and help you out with future projects</p>
    </div>
</div>


