
@{
    ViewBag.Title = "Past Projects";
}

<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

    <h1>Classes I have taken</h1>
<hr>
    <h2>Advanced php</h2>
    <h2>Jquery - Graphics and Advanced Elements</h2>
    <h2>Elements Homework</h2>
    <h2>Web Programming 2</h2>
    <h2>JavaScript</h2>
    <h2>Web Data - Web Programming 1</h2>

   <p>Zip Files to come...</p>
    


